* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0 1rem;
  font-family: "Roboto", serif;
  color: #141414;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  gap: 100px;
}

.subtitulo {
  max-width: 4ch;
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .subtitulo {
    max-width: initial;
    font-size: 3rem;
    text-transform: capitalize;
  }
}
