.inicio img {
  border-radius: 50%;
}

.inicio h2 {
  margin-bottom: 30px;
  font-size: 4.5rem;
  line-height: 1.125;
  position: relative;
}

.inicio p {
  font-size: 1.5rem;
  color: #525252;
}

@media screen and (max-width: 1300px) {
  .inicio img {
    max-height: 310.8px;
    margin: 0 auto;
  }

  .inicio h2 {
    font-size: 3.5rem;
  }

  .inicio p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 850px) {
  .inicio img {
    max-width: 30%;
  }

  .inicio h2 {
    font-size: 2.5rem;
  }
}
